/* document styling */
body {
  font-family: sans-serif;
  background-color: burlywood;
  margin: 0
}

h1 {
  color: black;
  font-family: 'Open Sans', sans-serif;

}


img {
  height: 500px; 
}


.container { 
  display: flex; 
  flex-direction: column;
}


/* navigation styling */

.frontnav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  padding: 5px 20px;
}


/* ul#nav li a {

} */



/* Landing page styling */
.main-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* height: 100%; */
  background-color: limegreen;
  padding: 20px;
}

/* about the site and link to query is stored in this container */
#inner-body {
  margin: 10px;
  display: flex;
  width: 20%;
  /* flex: 1; */
  flex-direction: column;
}

#about { 
  padding: 10px;
  border: 1px solid black;
  /* height: 90%; */
  background-color: fuchsia;
  

}

#querylink {
  border: 1px solid black;
  background-color: orange;
  

}

#frontimg {
  max-height: 50%;
  border: 1px solid black;
  background-color: red;
  

}




