body {
  font-family: courier;
  background-color: rgb(132, 187, 139);
  margin: 0
}


p {
  font-size: .8em;
}

/* flex box directions */
.container { 
  display: flex; 
  flex-direction: column;
}

.frontnav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(134, 156, 134);
  padding: 5px 20px;
}

.main-query-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.query-selections {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column-card {
  float: left;
  width: 25%;
  padding: 0 50px;
}

/* Remove extra left and right margins, due to padding in columns */
.row-cards {margin: 0 -5px;}

/* Clear floats after the columns */
.row-cards:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}