body {
  margin: 0px;
  background-color: burlywood;
  font-family: 'Muli', sans-serif;
}

/* link decorations */
a:link, a:visited {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:active, a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* flex box directions */
.container { 
  display: flex; 
  flex-direction: column;
}

.frontnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(134, 156, 134);
  padding: 20px;
}

.navlink {
  padding-right: 25px;
}

.login {
  padding: 5px;
}

.leftnav {
  /* justify-content: flex-start; */
}

.rightnav {
  justify-content: flex-end;

}

h1 {
  font-size: initial;
  line-height: 10%;
}

.main-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.inner-body{
  align-self: center;
  width: 40%;
  padding: 20px;
  border: 1px solid rgb(134, 156, 134);
  background-color: #F6F6F8;
  background-image: url('./signup_leaf.jpg');
  background-repeat: no-repeat;
  background-position: 220%;
  background-size: 90%;
}

.inner-body-center {
  text-align: left;
}

.signup {
  padding: 5px;
}



/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}